<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Xcitech Technologies</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <%- include("common/links.ejs") %>
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


       <!-- Sidebar Start -->
       <%- include("common/sidebar.ejs") %>
    <!-- Sidebar End -->
    
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
           
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Krutik Patel</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                       
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

         <!-- Product Start -->
         <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        
                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">CATEGORY LISTING</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr class="text-white">
                                        <th scope="col">#</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>HP Pavilion Laptop 14-ec1003AU</td>
                                        <td><button type="submit" class="btn btn-primary">Add</button></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>HP Spectre x360 2-in-1 Laptop OLED Touch 13.5-ef0053TU</td>
                                        <td><button type="submit" class="btn btn-primary">Add</button></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>OMEN by HP Gaming Laptop 16 (40.9 cm) b1371TX</td>
                                        <td><button type="submit" class="btn btn-primary">Add</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product End -->
      </div>
      <%- include("common/scripts.ejs") %>
 </body>
 
 </html>